<div ng-if="::formCtrl.isReady">
  <div ng-if="::formCtrl.isVisible" class="page-form-wrapper">
    <div class="page-header" bb-scroll-into-view="formCtrl.scrollToTop">
      <div class="controls">
        <button ng-if="::formCtrl.formData._id && appCtrl.isAuthorized('DELETE_PAGE')" class="btn btn-danger" type="button" cc-confirm-click data-confirmed-click="formCtrl.delete()"><i class="fa fa-trash"></i>Delete</button>
      </div>
      <h1 ng-if="formCtrl.formData._id">Edit {{ formCtrl.formData.title }}</h1>
      <h1 ng-if="!formCtrl.formData._id">Add Page</h1>
    </div>
    <div ng-if="formCtrl.success" class="alert alert-success" ng-bind-html="formCtrl.trustHtml(formCtrl.success)"></div>
    <div ng-if="formCtrl.error" class="alert alert-danger">
      <p ng-bind-html="formCtrl.trustHtml(formCtrl.error)"></p>
      <p ng-if="formCtrl.needsLogin"><a href ng-click="appCtrl.openLoginModal()" class="btn btn-primary">Editor Log In</a></p>
    </div>

    <form name="pageForm" class="form-horizontal" ng-submit="formCtrl.submit()" novalidate>
      <input type="hidden" name="capabilityId" value="{{ formCtrl.formData.originalCapabilityId }}">
      <input type="hidden" name="pageId" value="{{ formCtrl.formData._id }}">

      <div ng-if="::formCtrl.isFieldAuthorized" class="form-group" ng-class="{'has-error': pageForm.title.$touched && pageForm.title.$invalid}">
        <label class="col-sm-2 control-label">
          Page Title:
        </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="title" ng-model="formCtrl.formData.title" placeholder="(required)" required>
            <div ng-show="pageForm.title.$touched && pageForm.title.$invalid" class="help-block">
              Page Title is required.
            </div>
        </div>
      </div>

      <div ng-if="::formCtrl.isFieldAuthorized" class="form-group">
        <label class="col-sm-2 control-label">
          For Capability:
        </label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="formCtrl.formData.capabilityId" required>
            <option value="">
              --- Select ---
            </option>
            <option ng-repeat="option in formCtrl.capabilityOptions" value="{{:: option.value }}" ng-selected="formCtrl.formData.capabilityId === option.value">
              {{:: option.name }}
            </option>
          </select>
        </div>
      </div>

      <div ng-if="::formCtrl.isFieldAuthorized" class="form-group">
        <label class="col-sm-2 control-label">
          Summary:
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" ng-model="formCtrl.formData.summary" max-length="100"></textarea>
          <div class="help-block">
            100 characters
          </div>
        </div>
      </div>

      <div ng-if="::formCtrl.isFieldAuthorized" class="form-group">
        <label class="col-sm-2 control-label">
          Summary Icon:
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="formCtrl.formData.icon" max-length="100" placeholder="e.g., fa-circle">
          <div class="help-block">
            Enter a <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">Font Awesome</a> icon name.
          </div>
        </div>
      </div>

      <div ng-if="::formCtrl.isFieldAuthorized && formCtrl.formData._id" class="form-group">
        <label class="col-sm-2 control-label">Order:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="order" ng-model="formCtrl.formData.order">
          <div class="help-block">
            Zero (0) has highest priority.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">
          Page Content:
        </label>
        <div class="col-sm-10">
          <textarea id="markdown-editor" markdown-field data-provide="markdown" class="form-control form-control-markup" ng-model="formCtrl.formData.content.markdown" max-length="10000"></textarea>
          <div class="help-block">
            Accepts HTML and Markdown.
          </div>
        </div>
      </div>

      <div ng-if="::formCtrl.isFieldAuthorized" class="form-group">
        <label class="col-sm-2 control-label">
          Status:
        </label>
        <div class="col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="formCtrl.formData.isPublished" ng-checked="formCtrl.formData.isPublished"> Published</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-if="formCtrl.formData._id" class="btn btn-primary btn-lg" type="submit" ng-disabled="pageForm.$invalid"><i class="fa fa-save"></i>Save</button>
          <button ng-if="!formCtrl.formData._id" class="btn btn-primary btn-lg" type="submit" ng-disabled="pageForm.$invalid"><i class="fa fa-plus"></i>Add Page</button>
        </div>
      </div>
    </form>
  </div>
  <div ng-if="::!formCtrl.isVisible" class="alert alert-warning">
    You are not authorized to view this page.
  </div>
</div>
