<div class="page-header">
  <h1>Shared Capability Catalog</h1>
</div>
<h2>What is a Shared Capability?</h2>
<p>
  Services architecture is commonly defined as a set of related software capabilities that users can reuse for multiple purposes and can access through a prescribed interface. However, a Shared Capability is more than just software.
</p>
<p>
  Shared Capabilities can come in the form of either services or components. The SKY UX capability is in the form of a set of components while the Blackbaud Authentication Services/Single Sign On capability is in the form of a service. Both comprise a discreet unit of business capability that cuts across a product portfolio and fulfills technical, nonfunctional requirements (NFRs). A product can incorporate a Shared Capability through composition, integration, or consumption.
</p>
<p>
  A Shared Capability is composed of:
</p>
<ul>
  <li>intellectual property</li>
  <li>operations</li>
  <li>infrastructure</li>
  <li>developer and QA effort during a systems development life cycle</li>
</ul>
<h2>Shared Components vs. Shared Services</h2>
<p>
  While a Shared Capability can be either a component or service, there are differences. <a href="/docs/component-v-service/">Read more</a>.
</p>
<cc-capability-list></cc-capability-list>
<cc-product-list></cc-product-list>
